* {
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
  }

body{
    font-family: "Roboto", sans-serif;
}

.container {
    margin: 4rem auto;
    background-color: white;
    padding: 2rem 3rem;
    border-radius: 1rem;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 600px;
}

h2 {
    text-align: center;
    color: #000000;
    margin-bottom: 2rem;
    font-size: 2.5rem;
    font-weight: 200;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

label {
    font-size: 1.2rem;
    font-weight: 200;
    color: #374151;
}

input, button {
    padding: 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid #d1d5db;
    font-size: 1.2rem;
}

input:focus {
    outline: none;
    border-color: #3b82f6;
    box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

button {
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #2563eb;
}

@media (max-width: 600px) {
    .container {
        padding: 1.5rem;
    }
}
